{% extends 'base.html' %}

{% block content %}
    <b><a href="{{request.META.HTTP_REFERER}}">Go back</a> </b>

    <h1>Details of: {{ user_detail.username }}</h1>
    <h2> Department: {{ user_detail.department }} </h2>
    <h4>
        <li> First Name: {{ user_detail.first_name }}</li>
        <li> Last Name: {{ user_detail.last_name }}</li>
        <li> City: {{ user_detail.address_city }}</li>
        <li> Phone Number: {{ user_detail.phone_number }}</li>
        <li> Email: {{ user_detail.email }}</li>
        <li> Last login: {{ user_detail.last_login }}</li>
    </h4>


{% endblock %}