{% extends 'base.html' %} {% block content %}

<section class="login-page">
    <h2>Załóż konto</h2>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" name="first_name" placeholder="Imię" />
        </div>
        <div class="form-group">
            <input type="text" name="last_name" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">


        <select name="department">
  <option value=2>TEST</option>
  {% comment %} <option value=3>HR</option>
  <option value=4>PM</option>
  <option value=5>F&B</option> {% endcomment %}
</select>
 </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Hasło" />
        </div>

        <div class="form-group">
            <input
                type="password"
                name="password2"
                placeholder="Powtórz hasło"
            />
        </div>


            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
    {% if messages %}
    <h2 style="color: red">
        {% for message in messages %} {{ message }} {% endfor %}
    </h2>
    {% endif %}
</section>

{% endblock content %}
