{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Ticket System</title>
</head>
<body>
<link rel="stylesheet" href="{% static  'css/style.css' %}" />
<img class="ticket-banner" src="{% static 'ticket_banner.png' %}" alt="TICKET SYSTEM"> <br>
<h1> <a href="   {% url 'home_index' %} " > HOME SCREEN </a>  </h4>
            {% block content %}
Some  Block Content
            {% endblock content %}







<footer>

<h3>

        {% if user.is_authenticated %}
            Hi, logged as: <a href="{% url 'user_details' user.username  %} " > {{ user.username }} </a>
            <br> <a href="{% url 'user_edit_settings' user.username  %} " >  MY SETTINGS EDIT</a>
            <br> <a href="{% url 'user_logout_home' %}">Logout</a>
{# CONTEXT PROCESOR#}
            <p> Tickets on you: {{  current_user_req_tickets.count}}
           <br> Requested tickets by you: {{ current_user_tickets.count }}
            </p>

                {% else %}
            Hi: Annonymous
            <h4><a href={% url 'user_login_home' %}>Login</a></h4>
            <h4>  SIGN IN  </h4>
                {% endif %}
</h3>
</footer>

</body>
</html>