{% extends 'base.html' %}

            {% block content %}


<h1>
    <h1> IT </h1> Number of tickets on queue: {{ it_tickets.count}}
    <h1> HR </h1> Number of tickets on queue: {{ hr_tickets.count }}
    <h1> PM </h1>Number of tickets on queue: {{ pm_tickets.count }}
    <h1>F&B</h1>   Number of tickets on queue: {{ fb_tickets.count }}
</h1>

            <h2> <a href="{% url 'ticket_list'  %} " >SEE ALL {{ all_tickets.count }} TICKETS </a>  </h2>


<br>
      <h1> <a href="{% url 'ticket_create'  %} " >RAISE A TICKET </a>  </h1>
 {% endblock content %}