{% extends 'base.html' %}

            {% block content %}


<h1>
    <h1> <a href="{% url 'ticket_list' department='IT'  %} " > IT </a>  </h1> Number of tickets on queue: {{ it_tickets.count}}
    <h1> <a href="{% url 'ticket_list' department='HR'  %} " > HR </a>  </h1> Number of tickets on queue: {{ hr_tickets.count }}
    <h1> <a href="{% url 'ticket_list' department='PM'  %} " > PM </a>  </h1> Number of tickets on queue: {{ pm_tickets.count }}
    <h1> <a href="{% url 'ticket_list' department='FB'  %} " > F&B </a>  </h1> Number of tickets on queue: {{ fb_tickets.count }}

</h1>

            <h2> <a href="{% url 'ticket_list' department='ALL'  %} " >SEE ALL {{ all_tickets.count }} TICKETS </a>  </h2>


<br>
      <h1> <a href="{% url 'ticket_create'  %} " >RAISE A TICKET </a>  </h1>

                {% if user.is_authenticated %}

            <p> Tickets on you: {{  current_user_req_tickets.count}}
           <br> Requested tickets by you: {{ current_user_tickets.count }}
            </p>
                {% else %}
   {{ current_user_tickets }}
                {% endif %}
 {% endblock content %}