{% extends 'base.html' %}

            {% block content %}
                <b><a href="{{request.META.HTTP_REFERER}}">Go back</a> </b> <br> <br>

    {% include 'base_form.html' with form=form %}



<p>
                <h2>{{ department }} Tickets On Queue: {{ tickets.count }}</h2>
 <ul> {% for ticket in ticket_pages %}
  <b>   {{ forloop.counter}})   </b>     <a href="{% url 'ticket' ticket.id %} " > ID:{{ ticket.id }} </a>   :: <b>Status: </b> {{ ticket.status }}  <br>
         <b>Title: </b>{{ ticket.title }} <br>
{#        Content: {{ ticket.description }} <br>#}
<b>  Department assign:</b> {{ ticket.department_assignment }} :: <b>Requestor:</b> {{ ticket.user_requestor }} <b>User assigned:</b>
{# iterate for all users assignments and it list all assignments   #}
     {% for assignment in ticket.user_assignment.all %}
                 <b>[</b>{{ assignment }}<b>]</b>
                   {% endfor %}
</p>
{% endfor %}  </ul>





       {% if typed_name is not defined %}

         <p>  {% for ticket in ticket_pages %}
    <b>   {{ forloop.counter}})   </b>       {{ ticket.title }}
   {{ ticket.status }}

             <b>   Assignment:  </b>

                {% for assignment in ticket.user_assignment.all %}
                {{ assignment }}
                   {% endfor %}
             </p>

           {% empty %}
            No products with provided <b>{{ typed_name  }} </b>  product name
         {% endfor %}

                        {% else %}

     {% endif %}





{#PAGINATOR PAGE - STRONY DO#}

    <span class="step-links">
        {% if ticket_pages.has_previous %}
                        <a href="?page=1">&laquo; First page</a>
            <a href="?page={{ ticket_pages.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ ticket_pages.number }} of {{ ticket_pages.paginator.num_pages }}
        </span>

        {% if ticket_pages.has_next %}
            <a href="?page={{ ticket_pages.next_page_number }}">Next</a>
                        <a href="?page={{ ticket_pages.paginator.num_pages }}">Last&raquo;</a>
        {% endif %}
  <a href="{% url 'home_index' %}" class="  rounded-0 pr-4 pl-4">Home Page</a>

    </span>






 {% endblock content %}