{% extends 'base.html' %}

            {% block content %}
    {% include 'base_form.html' with form=form %}


<p>
 <ul> {% for ticket in tickets %}
  <b>   {{ forloop.counter}})   </b>     <a href="{% url 'ticket' ticket.id %} " > ID:{{ ticket.id }} </a>   :: Status: {{ ticket.status }}  <br>
         Title: {{ ticket.title }} <br>
{#        Content: {{ ticket.description }} <br>#}
  Department assign: {{ ticket.department_assignment }} :: Requestor: {{ ticket.user_requestor }} User assigned:
{# iterate for all users assignments and it list all assignments   #}
     {% for assignment in ticket.user_assignment.all %}
                {{ assignment}}
                   {% endfor %}
</p>
{% endfor %}  </ul>



                <ul>

       {% if typed_name is not defined %}

         <p>  {% for ticket in tickets %}
    <b>   {{ forloop.counter}})   </b>       {{ ticket.title }}
   {{ ticket.status }}

             <b>   Assignment:  </b>

                {% for assignment in ticket.user_assignment.all %}
                {{ assignment }}
                   {% endfor %}
             </p>

           {% empty %}
            No products with provided <b>{{ typed_name  }} </b>  product name
         {% endfor %}
        {% else %}

     {% endif %}




 {% endblock content %}